.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    height: 250px;
    width: 250px;
}
.footer-logo p{
    color: #F26C76;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-links li{
    cursor:  pointer;
}
.footer-social{
    display: flex;
    gap: 20px;
}
.icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30x;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copy hr{
    width: 86%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}